@import "@workspace/tailwind-config/theme";
@source "../**/*.{ts,tsx}";

@layer base {
  :root {
    color-scheme: only light;
  }

  body {
    color: #000;
    background: #fff;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  @media (hover: hover) {
    a:hover {
      text-decoration: underline;
      text-underline-offset: 2px;
    }
  }

  @media print {
    @page {
      margin: 10mm 12mm;
    }

    a {
      text-decoration: none !important;
    }
  }
}
